body{
  background-color: #282c34;
  color: #ffffff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  text-align: center;
}
.course-item{
  border: 1px solid #ffffff;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  
}
a{
  text-decoration: none;
  color: #ffffff;
}